@font-face {    
    font-family: 'Norse';
    src: url(/Assets/Norse-Bold.otf);
}

*{
    box-sizing: border-box;
}
.container {    
    display: flex;
    justify-content: space-between;
    height: 100vh; 
    width: 100vw;      
    background-color: aliceblue;      
}

.left-side {    
    height: 100vh;  
    width: 40vw;    
    background-image: url(../assets/bg-Image.jpg);
    background-size: 100% 100%;
}

.img-logo {   
    width: 5rem;
}

.logo {    
    position: absolute;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 120px;
    padding: 5px 0;
    color: white;
    font-family: 'Norse', sans-serif; 
    font-size: 6rem;       
    background-color: #0007;   
}

.right-side {  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;        
}

.texts{
    width: 75%;
    padding: 200px 0 35px 30px;
    font-size: 20px;
    font-weight: bold;
}

form{        
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;    
    height: 22vh;
    padding: 30px 0 40px 30px;
    box-shadow: 5px 3px 5px lightgray;
    background-color: #fff
}

legend{
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;  
    margin: 0; 
    padding: 0;
    border-width: 0;       
    gap: 20px;
    width: 50vw;    
}

.inputLabel {      
    display: flex; 
    flex-direction: column;
    padding-right: 30px;      
}

label{
    font-size: 12px;
    font-weight: bold;
    font
    font-family: sans-serif;
    margin-bottom: 3px;
}

input{
    width: 250px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    outline:  1px solid lightblue;
    box-shadow: 5px 3px 5px lightgray;
}
.error:required{
    outline:  1px solid red;    
}

button{
    width: 200px;
    margin-top: 80px;
    padding: 12px 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-shadow: 5px 3px 5px lightgray;
    font-family: sans-serif;
    font-size: small;
    background-color: #596D48;
    color: #fff;
}

.lastPart{
    position: relative;    
}

.lastPart p {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}

