@font-face {
    font-family: 'Norse';
    src: url(../Assets/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

.dFlex {
    display: flex;
}


.container {
    height: 100%;
    width: 100vw;
    background-color: rgb(240, 239, 233);
}

.left-side {
    height: 100vh;
    width: 40vw;
    background-image: url(../Assets/bg-Image.jpg);
    background-size: 100% 100%;
}

.img-logo {
    width: 5rem;
}

.logo {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
    width: inherit;
    height: 120px;
    padding: 5px 0;
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 6rem;
    background-color: #0007;
}

.right-side {
    height: 100vh;
    width: 60vw;
    font-family: sans-serif;
    font-weight: bold;
}

.texts {
    width: 100%;
    padding: 60px 0 20px 30px;
    font-size: 18px;
}

form {
    position: relative;
    padding: 20px 0px 40px 30px;
    box-shadow: 5px 5px 4px lightgray;
    background-color: #fff;
    width: 100%;
}

legend {
    margin-bottom: 20px;
    font-size: large;
}

.inputGroup {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: none;
    gap: 20px;
    max-width: 600px;
}

.inputLabel {
    flex-direction: column;
    padding-right: 30px;
}

label {
    font-size: 12px;
    margin-bottom: 3px;
}

input {
    width: 210px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid lightblue;
    box-shadow: 5px 3px 5px lightgray;
}

button {
    width: 190px;
    margin-top: 30px;
    padding: 12px 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-shadow: 5px 3px 5px lightgray;
    font-size: small;
    background-color: #596D48;
    color: #fff;
}

.lastPart {
    position: absolute;
    bottom: -120px;
}

.lastPart p {
    padding-top: 10px;
    font-size: small;
}
