@font-face {
    font-family: 'Norse';
    src: url(/Assets/Norse-Bold.otf);
}

body {
    /* position */
    /* box model */
    margin: 0;
    
    /* text */
    /* visual */
    background-color: #000;
    /* miscelaneus */

}

.container {
    /* position */
    /* box model */
    display: flex;
    justify-content: center;
    height: 100vh;      
    /* text */
    /* visual */
    background-color: aliceblue;
    /* miscelaneus */

}

.left-side {
    /* position */
    /* box model */
    height: 100%;  
    width: 35%;
    /* text */
    /* visual */
    /* miscelaneus */

}

.bg-image {
    /* position */
    /* box model */    
    height: 100%;
    width: 100%;
    /* text */
    /* visual */
    /* miscelaneus */

}

.img-logo {
    /* position */
    /* box model */
    width: 5rem;
    /* text */
    /* visual */
    /* miscelaneus */

}

.logo {
    /* position */    
    position: absolute;
    top: 120px;

    /* box model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 120px;

    /* text */    
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 6rem;    

    /* visual */
    background-color: #0008;

    /* miscelaneus */
}

.right-side {
    /* position */
    /* box model */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 100px 60px 200px 20px;
    /* text */
    /* visual */
    /* miscelaneus */
}